*{
    padding: 0;
    margin: 0;
}
.parent{
    background-color:#17a2b8;
    padding-top:100px;
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-flow: column wrap;
    border:rgb(177, 177, 177) solid;
    position:relative ;
}
.content{
    background-color: white;
    padding: 20px;
}
.crl{
    width:  100;
    height: 100px;
    position: absolute;
    bottom: 130px;
    padding: 10px;
}
.mark{
    width: 20px;
    height: 20px;
}
.ger{
    width: 20px;
    height: 20px;
    text-align: center;
}

