#container{
    background-color:gold;
    padding: 50px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#container2{
    background-color: rgb(255, 119, 0);
    padding: 50px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#container3{
    background-color: rgba(66, 233, 24, 0.878);
    padding: 50px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
